.tab {
  color: #7f8c8d;
  text-align: center;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.2rem;
}

.tab:hover {
  color: #222;
}

.tab.active {
  color: #222;
  border-bottom: 3px solid #f39c12;
}
