.App {
    text-align: center;
}

.App-title {
    background-color: #222;
    padding: 2rem;
    font-size: 4vw;
    color: white;
    margin: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .App-title{
        font-size: 7vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 700px) {
    .App-title{
        font-size: 5vw;
    }
}
