.App {
    text-align: center;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.grid {
  padding: 1.3rem;
}

.grid-float:after {
	display: table;
	clear: both;
}

.grid-float > * {
	float: left;
}

.flex-grid {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.box-1 {
  width: auto;
}

.box-2 {
  width: 80%;
}

@media only screen and (max-width: 992px) {
  .grid {
    display: block;
  }

  .grid > * {
    width: 100%;
    margin-bottom: 1.3rem;
  }
}

.App-title {
    background-color: #222;
    padding: 2rem;
    font-size: 4vw;
    color: white;
    margin: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .App-title{
        font-size: 7vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .App-title{
        font-size: 5vw;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) {
    .Tab-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}