.tab {
  color: #494A48;
  text-align: center;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.2rem;
}

.tab:hover {
  color: #1E1E1D;
}

.tab.active {
  border-bottom: 3px solid #61dbfb;
}
